* {
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
body {
    background-color: #222f3d;
}
.navbar {
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
}
.nav-logo {
    height: 55px;
    width: 100px;
}
.logo {
    background-image: url("nav\ logo.webp");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/* box2 */
.add-first {
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
}
.add-sec {
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.border:hover {
    border: 1.5px solid white;
}
/* box 3 */
.nav-search {
    display: flex;
    background-color: rgb(255, 102, 0);
    width: 625px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;

}
.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border:none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #0f1111;
}
.nav-search:hover {
    border: 2px solid orangered;
}
/* box4 */
span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box 5 */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
}
.panel-ops p {
    display: inline;
    margin-left: 10px;
    }
    .panel-ops {
        width: 70%;
        font-size: 0.85rem;
    }
    .panel-deals {
        font-size: 0.90rem;
    }
    /* offer box1 */
    .offer-img {
        background-image: url("offer box1.jpg");
        height: 350px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .offer-SMS {
        background-color: white;
        color: black;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.85rem;
        margin-bottom: 25px;
    }
    .offer-SMS a {
        color: #007185;
    }

    /* shop-section */

    .shop-section {
        display: flex;
        justify-content: space-around;
        background-color: white;

    }
   h2 {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
   }
   .mobile {
    display: flex;
    justify-content: space-around;
    background-color: white;
   }
   .kitchen {
    display: flex;
    justify-content: space-around;
    background-color: white;
   }
   .furniture {
    display: flex;
    justify-content: space-around;
    background-color: white;
   }
   .womancolathing {
    height: 400px;
    width: 400px; 
    background-color: rgb(126, 120, 120);
    margin-top: 20px;
    margin-left: 10px;
   }
   .dress {
    display: flex;
   }
   .T-shart {
    margin-left: 10px;
   }
   .bag {
    margin-right: 10px;
   }
   .foot {
    display: flex;
    margin-top: 10px;
   }
   .sliper {
    margin-left: 10px;
   }
   .S-dress {
    margin-left: 10px;
   }
   .offer {
    color: #3daeff;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
   }
   span:hover {
    color: red;
   }
   .shop-dress {
    display: flex;
   }
   p2 {
    color: rgb(168, 161, 161);
    font-size: 50px;
    margin-left: 50px;
    margin-top: 200px;
   }
   p2:hover {
    color: rgb(0, 17, 255);
   }
   .footer {
    height: 700px;
    width: 1325px;
    border: 1px solid rgb(190, 182, 182);
    margin-top: 15px;
    margin-left: 10px;

   }
   .head {
    background-color: #628bb6;
    color: white;
    height: 40px;
    width: 1325px;
    text-align: center;
   }
   .link {
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    line-height: 2;
    display: inline-block; 
   } 
   .money {
    color: white;
    margin-left: 200px;
    line-height: 2;
    margin-top: 40px;
    display: inline-block; 
    }
   .icon {
    height: 20px;
   }
